<section class="log-in-container container">
  <h2>Welcome to <span class="text-accent">ToDo</span>!</h2>
  <article class="log-in">
    <div class="error-container" *ngIf="errorMessage">
      <p class="message">{{ errorMessage }}</p>
    </div>
    <h1>Log in</h1>
    <p class="text-muted description">Log in into existing account</p>
    <button
      class="btn-google"
      (click)="logInWithGoogle()"
      [ngClass]="buttonLoading ? 'loading' : ''"
    >
      <app-icon name="google"></app-icon>
      Log In With Google
    </button>
    <div class="divider"></div>
    <p class="sign-up">
      Not a member?
      <a href="sign-up">Sign up now</a>
    </p>
  </article>
</section>
