<section class="sign-up-container container">
  <h2>Welcome to <span class="text-accent">ToDo</span>!</h2>
  <article class="sign-up">
    <div class="error-container" *ngIf="errorMessage">
      <p class="message">{{ errorMessage }}</p>
    </div>
    <h1>Sign up</h1>
    <p class="text-muted description">Create free account</p>
    <button
      class="btn-google"
      (click)="signUpWithGoogle()"
      [ngClass]="buttonLoading ? 'loading' : ''"
    >
      <app-icon name="google"></app-icon>
      Sign Up With Google
    </button>
    <div class="divider"></div>
    <p class="log-in">
      Already have an account?
      <a href="log-in">Log In</a>
    </p>
  </article>
</section>
