<nav [ngClass]="isNavOpen() ? 'active' : ''">
  <div class="container">
    <ul>
      <li>
        <a href="" class="active">
          <app-icon name="inbox"></app-icon>
          <span>Inbox - 4</span>
        </a>
      </li>
      <li>
        <a href="">
          <app-icon name="calendar-week"></app-icon>
          <span>Today - 1</span>
        </a>
      </li>
      <li>
        <a href="">
          <app-icon name="calendar"></app-icon>
          <span>Upcoming - 3</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="curtain" (click)="closeNav()"></div>
</nav>
