@use 'media';
@use 'variables';

nav {
  position: fixed;
  height: calc(100vh - #{variables.$navbar-height});
  left: -100%;
  transition: left 300ms, transform 300ms;
  z-index: 10;
  overflow: hidden;

  &.active {
    left: 0;

    .curtain {
      visibility: visible;
      opacity: 0.5;
    }
  }

  .container {
    background-color: var(--color-primary);
    height: 100%;
    margin: 0;
    overflow: auto;
  }

  ul li a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.4rem 0.6rem;

    span {
      margin-left: 0.6rem;
    }

    &.active span {
      transition: color 300ms;
      color: var(--color-accent);
    }

    &.active:hover span {
      color: var(--color-accent-darker);
    }
  }

  .curtain {
    position: fixed;
    background-color: var(--color-primary-darker);
    width: 100vw;
    height: calc(100vh - #{variables.$navbar-height});
    top: #{variables.$navbar-height};
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms, opacity 300ms;
  }
}

@include media.md {
  nav {
    border-right: 1px solid var(--color-primary-lighter);
    position: static;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);

      .curtain {
        visibility: visible;
        opacity: 0.5;
      }
    }

    .curtain {
      display: none;
    }
  }
}
